{% extends 'base.html.twig' %}

{% block title %}New ProduktDoUtylizacji{% endblock %}

{% block body %}
    <h1>Create new ProduktDoUtylizacji</h1>

    {{ include('produkt_do_utylizacji/_form.html.twig') }}

    <a href="{{ path('app_produkt_do_utylizacji_index') }}">back to list</a>
{% endblock %}
